@charset "utf-8";
/* CSS Document */

.form {
  position: relative;
  z-index: 1;
  background: #FFFFFF;
  max-width:600px;
  margin: 0 auto 100px;
  padding: 40px;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  
}


.form input {
  outline: 0;
  background: #f2f2f2;
  width: 100%;
  border: 2px solid #f2f2f2;
  margin: 0 0 20px;
  padding: 17px;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  box-sizing: border-box;
  font-size: 14px;
}
.form input[type='submit'] {
  outline: 0;
  background: #009999;
  width: 30%;
  border: 0;
  padding: 15px;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  color: #FFFFFF;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
}
.form .message {
  margin: 10px 0 0;
  color: #b3b3b3;
  
}
.form .message a {
  color: #009999;
  text-decoration: none;
}

	
	 